/* Colors (light theme) */
:root {
  --color-background: #ffffff;
  --color-text: #454545;
  --color-yes: #44e447;
  --color-link: #07a;
  --color-link-visited: #941352;
  --color-details-background: #eee;
  --color-details-shadow: #999;
}

/* Colors (dark theme) */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #111111;
    --color-text: #c4c4c4;
    --color-yes: #44e447;
    --color-link: #70b5d3;
    --color-link-visited: #c672e1;
    --color-details-background: #222;
    --color-details-shadow: #525252;
  }
}

/* Global CSS */
@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  text-align: center;
  margin: 1rem;
}

a {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

body > hr {
  margin: 2rem 20%;
  background: linear-gradient(90deg, transparent 0%, gray 50%, transparent 100%);
  border: none;
  height: 2px;
}

section > :first-child {
  margin-top: 0;
}

section > :last-child {
  margin-bottom: 0;
}

section > p {
  margin: 0;
}

#title {
  font-size: 3.3em;
  margin-bottom: 2rem;
}

.veryLargeText {
  font-size: 7rem;
  font-weight: 700;
}

.yes {
  color: var(--color-yes);
  font-family: 'Georgia', 'Open Sans', sans-serif;
  text-shadow: 0 0 1.5rem color-mix(in srgb, currentcolor 35%, transparent);
}

footer {
  font-size: 0.8em;
  text-align: center;
  margin: 2rem;
  padding: 2rem 0;
}
