body {
    font-size: 22px;
    text-align: center;
}
h1 {
    color: #C0392B;
    font-size: 54px;
}
div h3 {
    margin: 5px;
}
a:visited {
    color: #941352;
}
a {
    color: #07A;
}
