body {
    color: #454545;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    text-align: center;
    margin: 0;
}

#title {
    font-size: 3.3em;
    margin: 0.3em;
}

.no {
    color: #c0392b;
    font-size: 2.5em;
}

.otherNews {
    margin: 0.1em;
}

a {
    color: #07a;
}

a:visited {
    color: #941352;
}

.latestVideoEmbed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.latestVideoEmbed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
    height: auto;
    max-width: 32.142857142857146em;
    margin: 0 auto;
    padding: 1rem;
}

footer {
    font-size: 0.8em;
    text-align: start;
}
