::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #e33e4e;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e17558;
}

