@font-face {
	font-family: 'Trajan Pro';
	src: url(../../assets/fonts/TrajanPro-Regular.woff2) format('woff2'),
	url(../../assets/fonts/TrajanPro-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}